{
    "extends": [
        "wesbos/typescript"
    ],
    "rules": {
        "no-console": 0,
        "@typescript-eslint/no-unsafe-assignment": 0,
        "@typescript-eslint/no-unsafe-call": 0,
        "@typescript-eslint/no-unsafe-member-access": 0,
        "@typescript-eslint/no-unsafe-return": 0,
        "@typescript-eslint/ban-ts-comment": 0
    }
}